# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

MY_VAR="/home/user/my/system/path"
ATCOSIM_DATA_DIR="/path/to/atcosim/data"
VCTK_DATA_DIR="/path/to/vctk/data"
MEANVC_PRETRAINED_DIR="/path/to/project/pretrained/meanvc"
MEANVC_CONTENT_ENCODER_CKPT="/path/to/project/pretrained/meanvc/fastu2++.pt"
MEANVC_WAVLM_CKPT="/path/to/project/pretrained/meanvc/wavlm_large.pt"
MEANVC_SPEAKER_ENCODER_CKPT="/path/to/project/pretrained/meanvc/wavlm_large_finetune.pth"
MEANVC_SPEAKER_ENCODER_SOURCE="/path/to/project/pretrained/meanvc/ecapa_tdnn.py"
MEANVC_FEATURE_CACHE_DIR="/path/to/project/data/meanvc_features/vctk"
